<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTSA - Register</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo3-icon.png') }}">
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo3.png" alt="logo">
        <h1 class="h1-1">WTSA</h1>
        <h1 class="h1-2">WayneTech SecureAccess</h1>
    </header>
    <main>
        <div class="h3-warning">
            <div class="titulo">
                <img src="../static/img/caution.png" alt="caution.png">
                <h3>Warning</h3>
            </div>
            <div class="p-warning">
                <p>Register is not available right now. Please call for support:</p>
                <p class="phone">+1 (735) 555-0142</p>
            </div>
        </div>
    </main>
    <footer>
        <p>©2026 Wayne Enterprises. All rights reserved</p>
    </footer>
</body>
</html>